---
layout: base
---

<main class="index">
  <div class="not-box">
    <h1>duducat's blarbs</h1>
  </div>
  <div class="not-box flex-horiz">
    <a class="button" href="//ducdat0507.github.io/?main">
      <iconify-icon icon="tabler:arrow-left" inline></iconify-icon>
      back to home page
    </a>
    <span class="flexible-space"></span>
    <a class="button" href="feed.xml">
      <iconify-icon icon="tabler:rss" inline></iconify-icon>
      atom feed
    </a>
  </div>
  <div class="box">
    <ul class="blarb-list">
        {% for post in site.posts %}
        <li>
          <a class="blarb-card button" href=".{{ post.url }}"><article>
            <hgroup>
              <h2>{{ post.title }}</h2>
              <time style="flex-shrink: 0;">{{ post.date | date: "%Y-%m-%d" }}</time>
            </hgroup>
            <p>
              {% if post.subtitle %}
                {{ post.subtitle }}
              {% endif %}
            </p>
          </article></a>
        </li>
        {% endfor %}
    </ul>
  </div>
</main>