---
layout: base
---

<main class="index">
  <div class="not-box">
    <h1>duducat's blarbs</h1>
  </div>
  <div class="not-box">
    <a class="button" href="//ducdat0507.github.io/?main">back to home page</a>
  </div>
  <div class="box">
    <ul class="blarb-list">
        {% for post in site.posts %}
        <li>
          <a class="blarb-card button" href=".{{ post.url }}"><article>
            <hgroup>
              <h2>{{ post.title }}</h2>
              <time class="tnum">{{ post.date | date: "%Y-%m-%d" }}</time>
            </hgroup>
            <p>
              {% if post.subtitle %}
                {{ post.subtitle }}
              {% endif %}
            </p>
          </article></a>
        </li>
        {% endfor %}
    </ul>
  </div>
</main>