---
layout: base
---

<aside id="navigation">
    <div class="to-button mobile-only">
        <a id="to-main" href="#main" class="button">
            <iconify-icon icon="tabler:play" inline></iconify-icon>
            <b>continue reading</b>
        </a>
    </div>
    <div class="nav-backs">
        <a class="button" href="/blarbs/">
            <iconify-icon icon="tabler:arrow-left" inline></iconify-icon>
            <b>back to all blarbs</b>
        </a>    
        <a class="button" href="//ducdat0507.github.io/?main">
            <iconify-icon icon="tabler:arrow-left" inline></iconify-icon>
            back to home page
        </a>
    </div>
    <div>
        <h2 class="title-box">in this blarb</h2>
        <ul id="toc">
            <script src="{{ "/js/toc.js" | relative_url }}"></script>
        </ul> 
    </div>
</aside>
<main id="main">
    <h1 class="not-box">{{page.title}}</h1>
    <div class="not-box to-button mobile-only" style="text-align: right;">
        <a id="to-nav" href="#navigation" class="button">
            <iconify-icon icon="tabler:menu-2" inline></iconify-icon>
            <b>navigation</b>
        </a>
    </div>
    <div class="box">
        <p><i>
            published on <time><b>{{ page.date | date: "%A, %d %B %Y" }}</b></time>
        </i></p>
    </div>
    <div class="box" id="blarb-content">
        {{content}}
    </div>
</main>
